body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

#container{
  margin: 20px;
}

.priceText{
  text-align: justify;
  font-family: 'Kode Mono';
  font-weight: 600;
  font-size: 7vw;
}
